@media only screen and (min-width: 768px) {
  
.flex-container {
  display: flex;
  font-size: 30px;
  text-align: center;
  flex-direction: row;
}

.flex-item-left {
  padding: 10px;
}

.flex-item-right, .flex-item-middle{
  padding: 10px;
  flex: 0 0 auto;
  width: 50%;
}
 
 .heading {
	text-align: center;
	font-size: 21px;
}

  }